<table class="table table-bordered">
  <thead>
  <tr>
    <th>Email with</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longituide</th>
    <th>share</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% user_locations.each do |location| %>
      <tr id="<%= location.id %>">
        <td><%= location.email %></td>
        <td><%= location.address %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <td>
          <%= link_to "Share", 'share_with', "data-toggle" => "modal", 'data-target' => '#shareModal', class: 'btn btn-outline-success', onclick: "share_location()" %>
        </td>
        <td>
          <%= link_to "Delete", remove_shared_location_path(location.id), class: 'btn btn-outline-success', method: :delete, remote: true, data: {confirm: 'Are you sure want to delete ?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>