<h1 class="h1 d-inline">Locations</h1> --
<%= link_to "Add Location", '', :id => 'login', "data-toggle" => "modal", 'data-target' => '#share_location', class: 'btn btn-outline-success' %>
<div class="row mt-4 mb-4">
  <div class="col-md-4">
    <%= link_to "My Locations", my_locations_path(current_user.id), remote: true, class: 'btn btn-outline-success' %>
  </div>
  <div class="col-md-4">
    <%= link_to "Shared Locations", shared_locations_path(current_user.id), remote: true, class: 'btn btn-outline-success' %>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="share_location" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Location address(keep it simple as it is a free tier google
          ip)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: add_location_path(current_user.id), method: :post do |f| %>
            <div class="row">
              <div class="col-md-2">
                <label class="label">Location</label>
              </div>
              <div class="col-md-4">
                <%= f.text_field :address %>
              </div>
              <div class="row-md-2">
                <%= f.submit %>
              </div>
            </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_share_location">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row" id="user_locations">
  <div class="col-md-8" id="my_locations">
    <%= render partial: 'my_locations', locals: {user_locations: @user_locations} %>
  </div>
</div>
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share location with users:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="share_form">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_shareModal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
    function share_location(user_location_id) {
        $.ajax({
            url: "<%= get_form_location_path(current_user.id) %>",
            method: 'get',
            data: 'user_location_id=' + encodeURIComponent(user_location_id),
            success: function (data) {
                $('#share_form').html(data);
            }
        });
    }
</script>